template/src/components/contact/contact.pug
.contact
  .container
    .contact__title.wow.fadeInLeft(data-wow-delay='0.6s')
      include ../title/title

    .contact__box
      .contact__column.wow.fadeInLeft(data-wow-delay='0.9s')
        .contact__boxTitle Przedstawile handlowi
        .contact__boxContent
          - for(var i = 1; i <= 2; i++)
            .contact__person
              - var imgStyle = 'background-image: url('+ imgDir +'contact__img-'+ i +'.jpg)';
              .contact__personImg(style=imgStyle)
              .contact__personDetails
                .contact__personDetail Adam Nowak
                a.contact__personDetail(href='tel:+48777666555') +48 777 666 555
                a.contact__personDetail(href='mailto:mail@mail.com') mail@mail.com

      .contact__column.-reverse.wow.fadeInRight(data-wow-delay='1.2s')
        .contact__boxTitle Producent
        .contact__boxContent
          .contact__company
            .contact__companyDetails
              p TRUDERS DYSTRYBUCJA Sp. z o.o.
              p ul. Modrzewiowa 16
              p 15-238 Białystok
              p NIP: 542-32-59-529

            .contact__companyImgBox
              - var imgSrc = imgDir + 'contact__company-1.svg';
              img.contact__companyImg(src=imgSrc alt='company')

prod/contact.html
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Milko</title>
    <meta charset="utf-8">
    <meta name="description" content="Milko">
    <meta name="keywords" content="Milko">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700%7CDroid+Sans:400,700&amp;amp;subset=latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="resources/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="resources/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="resources/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="resources/img/manifest.json">
    <link rel="mask-icon" href="resources/img/safari-pinned-tab.svg">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="resources/css/prod.css">
</head>

<body>
    <div class="loader">
        <div class="loader__box">
            <div class="loader__center">
                <div class="loader__object -one"></div>
                <div class="loader__object -two"></div>
                <div class="loader__object -three"></div>
                <div class="loader__object -four"></div>
                <div class="loader__object -five"></div>
                <div class="loader__object -six"></div>
                <div class="loader__object -seven"></div>
                <div class="loader__object -eight"></div>
                <div class="loader__object -big"></div>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="background__white"></div>
        <div class="background__black"></div>
    </div>
    <div class="house">
        <div class="container">
            <img class="house__first wow fadeInRight" src="resources/img/house__first.svg" alt="house" data-wow-delay="1.5s">
            <img class="house__second wow fadeInRight" src="resources/img/house__second.svg" alt="house" data-wow-delay="1.5s">
            <img class="house__third wow fadeInLeft" src="resources/img/house__third.svg" alt="house" data-wow-delay="1.5s">
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header__flex">
                <div class="header__panel">
                    <div class="header__logo">
                        <div class="logo">
                            <a class="logo__link" href="./">
                                <img class="logo__img" src="resources/img/logo__img.svg" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="header__nav">
                        <nav class="nav">
                            <div class="nav__button"><i class="fa fa-bars"></i></div>
                            <div class="nav__background"></div>
                            <ul class="nav__list">
                                <li class="nav__item"><a class="nav__link -black" href="./">STRONA GŁÓWNA</a></li>
                                <li class="nav__item"><a class="nav__link" href="offer.html">OFERTA</a></li>
                                <li class="nav__item"><a class="nav__link" href="gain.html">CO ZYSKASZ</a></li>
                                <li class="nav__item"><a class="nav__link" href="partner.html">WSPÓŁPRACA</a></li>
                                <li class="nav__item"><a class="nav__link -active" href="contact.html">KONTAKT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header__phone">
                    <a class="phone" href="tel:793793793">
                            <span class="phone__icon">
                                <i class="fa fa-phone"></i></span>
                        <span class="phone__text">Zadzwoń! 793 793 793</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="contact__title wow fadeInLeft" data-wow-delay="0.6s">
                <h1 class="title">KONTAKT</h1>
            </div>
            <div class="contact__box">
                <div class="contact__column wow fadeInLeft" data-wow-delay="0.9s">
                    <div class="contact__boxTitle">PRZEDSTAWICIELE HANDLOWI</div>
                    <div class="contact__boxContent">
                        <div class="contact__person">
                            <div class="contact__personImg" style="background-image: url(resources/img/contact__img-1.jpg)"></div>
                            <div class="contact__personDetails">
                                <div class="contact__personDetail">Paulina Kozłowska</div>
                                <a class="contact__personDetail" href="tel:+48533315343">+48 533 315 343</a>
                                <a class="contact__personDetail" href="mailto:paulina@truders.pl">paulina@truders.pl</a>
                            </div>
                        </div>
                        <div class="contact__person">
                            <div class="contact__personImg" style="background-image: url(resources/img/contact__img-2.jpg)"></div>
                            <div class="contact__personDetails">
                                <div class="contact__personDetail">Piotr Dubieniecki</div>
                                <a class="contact__personDetail" href="tel:+48600926900">+48 600 926 900</a>
                                <a class="contact__personDetail" href="mailto:piotr@truders.pl">piotr@truders.pl</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact__column -reverse wow fadeInRight" data-wow-delay="1.2s">
                    <div class="contact__boxTitle">Producent</div>
                    <div class="contact__boxContent">
                        <div class="contact__company">
                            <div class="contact__companyDetails">
                                <p>TRUDERS DYSTRYBUCJA Sp. z o.o.</p>
                                <p>ul. Modrzewiowa 16</p>
                                <p>15-238 Białystok</p>
                                <p>NIP: 542-32-59-529</p>
                            </div>
                            <div class="contact__companyImgBox"><img class="contact__companyImg" src="resources/img/contact__company-1.svg" alt="company"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="bottom__row">
                <div class="bottom__column wow fadeInLeft">
                    <div class="question">
                        <div class="question__title">
                            <h1 class="title">MASZ PYTANIA?</h1>
                        </div>
                        <div class="question__content">
                            <a class="question__link" href="tel:793793793">
                                <i class="question__linkIcon fa fa-phone"></i>
                                <div class="question__linkNumber">tel. 793 793 793</div>
                            </a>
                            <a class="question__link" href="mailto:kontakt@doktormilko.pl">
                                <i class="question__linkIcon fa fa-envelope"></i>
                                <div class="question__linkNumber">kontakt@doktormilko.pl</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bottom__column wow fadeInRight">
                    <div class="social">
                        <div class="social__flex">
                            <a class="social__link" href="http://facebook.com" target="_blank">
                                <i class="social__icon fa fa-facebook"></i>
                            </a>
                            <a class="social__link" href="http://youtube.com" target="_blank">
                                <i class="social__icon fa fa-youtube"></i>
                            </a>
                            <a class="social__link" href="http://twitter.com" target="_blank">
                                <i class="social__icon fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer__box wow bounceInUp">
                <div class="footer__link">Copyright 2016 by DoktorMilko.pl</div>
                <a class="footer__link" href="http://collor.pl">Realizacja: Collor.pl</a>
            </div>
        </div>
    </div>
    <script src="resources/js/prod.js"></script>
</body>

</html>
